@inherits LayoutComponentBase

<div class="page" dir="@Dir" style="background-color: #F8F8F8">
    <div class="sidebar" dir="@Dir">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button type="button" class="btn btn-warning" onclick="@ChangeLanguage">@Resource.ChangeLanguage</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
